body {
  background: url("../images/background.jpg");
}

.jumbotron {
    background-image: url("../images/rail.jpg");
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: rgb(238, 238, 238);
}

h2 {
	color: white;
	padding: 5px;
	margin: 5px 400px 5px 400px;
	border-style: inset;
	border-width: 5px;
	border-radius: 30px;
	border-color: rgb(24, 39, 44);
	background-color: rgb(62, 150, 200);
}